.navbar {
	display: flex;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	height: 70px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.navbar .ui.menu {
	margin-top: 0;
}

.navbar .ui.menu .active.item {
	background-color: #585858;
}

.navbar .ui.menu .active.item:hover {
	background-color: #585858;
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 15px;
	margin-right: 45px;
	width: 200px;
}

.logo span {
	margin-left: 10px;
	font-size: 32px;
	line-height: 70px;
	color: black;
}

.logo-image {
	height: 50px;
	width: 50px;
}

.last {
	margin-right: -10px;
}

/* .last:after {
	width: 10px;
	height: 70px;
	background-color: #C41230;
	position: absolute;
	right: 0;
	content: "";
	transform: skewX(15deg);
	z-index: 10000;
} */

.navbar-links {
	flex-grow: 1;
	align-items: stretch;
	height: 70px;
	padding-right: -20px !important;
	overflow: hidden;
	transform: skewX(-15deg);
}

.link {
	font-family: Proxima Nova;
	font-style: normal;
	font-size: 20px;
	/* transform: skewX(-15deg); */
}

.link span {
	transform: skewX(15deg);
}
